#!/bin/bash

# Brewfileが変更されたときだけ処理が走るよう、ファイルのチェックサムを含める
# {{ include "private_dot_config/brewfile/Brewfile.tmpl" | sha256sum }}
# {{ include "private_dot_config/brewfile/Brewfile.macos.tmpl" | sha256sum }}

BREWFILES=(
    "$HOME/.config/brewfile/Brewfile"
    "$HOME/.config/brewfile/Brewfile.macos"
)

for BREWFILE in "${BREWFILES[@]}"; do
    if [[ -f "$BREWFILE" ]]; then
        echo "Running brew bundle with $BREWFILE..."
        brew bundle --file="$BREWFILE"
    else
        echo "$BREWFILE is not found. Skipping brew bundle."
    fi
done
