#!/bin/bash

# Brewfileが変更されたときだけ処理が走るよう、ファイルのチェックサムを含める
# {{ include "private_dot_config/brewfile/Brewfile.tmpl" | sha256sum }}

{{ if eq .chezmoi.os "darwin" -}}

BREWFILE="$HOME/.config/brewfile/Brewfile"
if [[ -f "$BREWFILE" ]]; then
    echo "Running brew bundle with $BREWFILE..."
    brew bundle --file="$BREWFILE"
else
    echo "WARNING: Brewfile not found at $BREWFILE. Skipping brew bundle."
fi

{{ end -}}
