cask "font-fira-code-nerd-font" # font for terminal
cask "ghostty"
cask "karabiner-elements"
cask "raycast"
cask "thaw"
cask "the-unarchiver"
cask "visual-studio-code"
cask "vivaldi"

{{ if .is_personal_machine -}}
cask "musescore"
cask "unity-hub"
{{- end }}

brew "mas"

mas "RunCat", id: 1429033973

{{ if .is_personal_machine -}}
mas "Day One", id: 1055511498
{{- end }}

