tap "homebrew/bundle"

brew "atuin"
brew "bat"
brew "chezmoi"
brew "eza"
brew "fd"
brew "fzf"
brew "lazygit"
brew "git"
brew "git-delta"
brew "git-interactive-rebase-tool"
brew "jq"
brew "neovim"
brew "mise"
brew "ripgrep"
brew "starship"
brew "zoxide"
brew "zsh-completions"
brew "zsh-syntax-highlighting"

{{ if .is_personal_machine -}}
brew "bitwarden-cli"
brew "ffmpeg"
brew "gemini-cli"
{{- end }}
